<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Atlas Switch</title>
        {% block head %}{% endblock %}

        <link
            rel="stylesheet"
            href="{{url_for('static', filename='vendors/css/normalize.css')}}"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Montserrat:100,300&display=swap"
            rel="stylesheet"
        />

        <link
            href="https://fonts.googleapis.com/css?family=Lato:100,300&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{url_for('static', filename='resources/css/styles.css')}}"
        />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='resources/css/queries.css')}}"
        />
    </head>
    <body>
        <header id="top">
            <nav>
                <div class="navcon">
                    <a href="#top"
                        ><img
                            src="{{url_for('static', filename='resources/img/logo.png')}}"
                            alt="Logo"
                    /></a>
                    <ul>
                        <a href="#aboutus"><li>About Us</li></a>
                        <a href="#products"><li>Products</li></a>
                        <a href="#contactus"><li>Contact Us</li></a>
                    </ul>
                </div>
            </nav>
            <div class="headingtext">
                <h1>
                    Helping to distribute power <br />
                    throughout new york city
                </h1>
            </div>
        </header>
        {% block content %}{% endblock %}
        <footer>
            <div class="container">
                <ul>
                    <a href="#top"><li>Home</li></a>
                    <a href="#aboutus"><li>About Us</li></a>
                    <a href="#products"><li>Products</li></a>
                    <a href="#contactus"><li>Contact Us</li></a>
                    <a href=""><li></li></a>
                    <li class="last">
                        Atlas Switch Co., Inc. <br />969 Stewart Ave
                        <br />Garden City, NY 11530
                    </li>
                </ul>
                <p>&copy; Copyright {{ now.year }} Atlas Switch</p>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/selectivizr@1.0.3/selectivizr.min.js"></script>
        <script src="{{url_for('static', filename='vendors/js/jquery.waypoints.min.js')}}"></script>
        <script src="{{url_for('static', filename='resources/js/script.js')}}"></script>
    </body>
</html>
