@media only screen and (max-width: 1200px) {
    .aboutus .container {
        padding: 0 50px;
    }
    footer .container {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 992px) {
    .products .container ul:nth-child(3) {
        display: block;
    }
    header {
        background-attachment: scroll;
    }
    h1 {
        padding-top: 30%;
    }

    .navcon ul {
        flex: 1;
    }
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 90%;
    }

    nav img {
        padding-left: 25px;
    }

    .js--nav-icon {
        display: inline-block;
    }

    .navcon ul {
        display: none;
        padding-top: 10px;
        text-align: center;
    }

    .navcon ul a li {
        display: block;
    }

    .products .container ul {
        display: block;
        padding: 0;
    }

    .products .container ul li {
        padding-bottom: 50px;
    }

    .products .container h2 {
        padding-bottom: 50px;
    }

    footer .container ul {
        display: block;
    }

    .last {
        padding-top: 25px;
    }
}

@media only screen and (max-width: 480px) {
    .navcon a:first-of-type {
        flex: 2;
    }
    .navcon ul {
        flex: 2;
    }
    .js--nav-icon {
        padding-right: 5px;
    }
}
