/* Set up */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #555555;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1140px;
    margin: auto;
}

section {
    padding-bottom: 40px;
    min-height: 45vh;
    outline: none;
}

/* Headings */
h1 {
    margin: 0;
    text-transform: uppercase;
    color: rgb(250, 250, 250);
    text-align: center;
    padding-top: 40vh;
    font-size: 250%;
}

h2 {
    padding-top: 40px;
    padding-bottom: 25px;
    text-align: center;
}

h4 {
    text-align: center;
}

/* Header */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('../img/NYC_Header.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

/* Navbar */
nav {
    height: 75px;
    padding-top: 15px;
}

.navcon {
    display: flex;
    height: 75px;
}

nav a {
    flex: 1;
    padding: 0;
    margin: 0;
}

nav img {
    height: 75px;
    padding-left: 75px;
}

ul {
    flex: 2;
    display: inline-flex;
    list-style: none;
    text-decoration: none;
    padding-top: 25px;
}

ul a {
    text-decoration: none;
    color: rgb(250, 250, 250);
}

/* Sticky nav */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(5, 5, 5, 0.9);
    z-index: 9999;
    height: 100px;
}

/* About us */
.aboutus .container p {
    text-indent: 40px;
}

/* Products */
.products {
    background-color: rgb(247, 247, 247);
}

.products .container ul {
    display: flex;
}

.products .container ul li {
    flex: 1;
}

.products .container ul li img {
    height: 300px;
    display: block;
    margin: auto;
}

.products .container ul li p {
    text-align: center;
}

/* Contact us */

/* Footer */
footer {
    min-height: 100px;
    background-color: rgb(55, 55, 55);
    color: rgb(250, 250, 250);
}

footer .container ul {
    display: flex;
}

footer .container ul a {
    flex: 1;
}

.last {
    font-size: 80%;
}

footer .container p {
    font-size: 80%;
    text-align: center;
    padding: 15px 0;
}
