/* Set up */
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #555555;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1140px;
    margin: auto;
    min-height: 45vh;
}

/* Headings */
h1 {
    margin-top: 0;
    text-transform: uppercase;
    color: rgb(250, 250, 250);
    text-align: center;
    padding-top: 40vh;
}

/* Header */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('../img/NYC_Header.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* About us */

/* Products */
.products {
    background-color: rgb(247, 247, 247);
}

/* Contact us */

/* Footer */
