{% extends 'base.html' %} {% block content %}
<section class="aboutus">
    <div class="container">
        <h2>About Us</h2>
        <p>
            Atlas Switch is the largest WBE (Women's business Enterprise)
            manufacturer of electrical service and distribution equipment in New
            York. We serve residential, commercial and industrial buildings
            throughout New York State. Through some of our excellent partners,
            we have expanded to parts of New Jersey, Connecticut, Pennsylvania
            and Massachusets. We can custom manufacture panel boards and
            switchboards to project specific requirements and building specific
            space constraints. We provide further support for the service and
            distribution packages by supplying transformers, disconnect
            switches, busway and metering solutions sourced from our
            relationships with other manufacturers.
        </p>
        <br />
        <p>
            We have worked for NYC Port Authority, Mount Sinai Health System,
            New York University, Northwell Health, JP Morgan Chase, Citibank,
            Google, Amazon, Facebook, Bloomberg and many more. We have been
            fortunate to have been a part of some major development projects,
            including the rebuilding of World Trace Center at Tower 4, Yankee
            Stadium, Madison Square Guarden, the rebuilding of TWA hotel at JFk,
            the Hudson Yards Development projects, and we look forward to being
            involved in shaping the future of New York City's iconic skyline.
        </p>
    </div>
</section>
<section class="products">
    <div class="container">
        <h2>Products</h2>
        <ul>
            <li>
                <img
                    src="{{url_for('static', filename='resources/img/panel-transparent.png')}}"
                    alt="panel"
                />
                <p>Panel Board</p>
            </li>
            <li>
                <img
                    src="{{url_for('static', filename='resources/img/panelintegralmeter-transparent.png')}}"
                    alt="panel with integral meter"
                />
                <p>Panel Board with Integral Metering</p>
            </li>
            <li>
                <img
                    src="{{url_for('static', filename='resources/img/paneintegralspd-transparent.png')}}"
                    alt="panel with integral spd"
                />
                <p>Panel Board with Integral SPD</p>
            </li>
        </ul>
        <ul>
            <li>
                <img
                    src="{{url_for('static', filename='resources/img/switchboard.JPG')}}"
                    alt="Switchboard"
                />
                <p>Switchboard</p>
            </li>
            <li>
                <img
                    src="{{url_for('static', filename='resources/img/Autocad.png')}}"
                    alt="NYC Department of Buildings Drawings"
                />
                <p>NYC Department of Buildings Drawings</p>
            </li>
        </ul>
    </div>
</section>
<section class="contactus">
    <div class="container">
        <h2>Contact Us</h2>
        <h4>
            Need help designing a job?
            <br />
            Have a job that you need quoted?
            <br />
            Email <a href="">info@atlasswitch.com</a> or call 516-222-6280
            <br />
            to speak to a sales engineer.
        </h4>
    </div>
</section>
{% endblock %}
